<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Your Account</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Cinzel:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="CSS/myAcct.css">
  </head>
  <body>
    <link rel="stylesheet" href="getLocation.css">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <nav class="navbar navbar-light bg-light bar">
          <form action = "/verify" method = 'post' class="form-inline" autocomplete="off">
            <input name="searchBar" class="form-control mr-sm-2" type="search" placeholder="Search for another movie" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </nav>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a {{hideLogIn}} class="btn btn-light" href='/login' role="button">Login</a>
          </li>
          <li>
            <a {{hideLogOut}} class="btn btn-secondary" href={{logout_url}} role="button">Logout</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="d-flex flex-row">
      <div class="d-flex flex-column col-lg-6 col" id="markSeenDiv">
        <h1 class="subtitle">Movies You've Watched</h1>
        {% for item in seenMovies:  %}
          {% set i = loop.index %}
        <form class="resultsDisplay d-flex justify-content-center" id="mov{{i}}" action="/movie-results" method="post">
            <input type="hidden" id="movie_title{{i}}" name="movie_title" value="{{item["title"]}}">
            <input type="hidden" id="id{{i}}" name="id" value="{{item["id"]}}">
            <input type="hidden" id="movieInfo{{i}}" name="movieInfo" value="{{item}}">
            <input type="hidden"  id="type{{i}}" name="type" value={{type}}>
            <div class="wrapper">
              <h4 class="subsubtitle"> {{item["title"]}} </h4>
              <div class="image_div ">
                <div class="img_wrapper d-flex justify-content-center">
                  <img id="movie_poster{{i}}"src="{{item["poster"]}}">
               </div>
              </div>
              <div class="d-flex justify-content-center details-btn ">
                <button type="submit" class="btn btn-outline-info">Details</button>
              </div>
            </div>

            <!-- <input type="image" name="{{item["title"]}}" value="" src="{{item["poster"]}}" height="300px" width="200px"> -->
        </form>
        {% endfor %}
      </div>
      <div class="d-flex flex-column col-lg-6 col">
        <h1 class="subtitle">To Watch </h1>
        {% for item in toWatchList:  %}
          {% set i = loop.index+seenMovies|length  %}
          <form class="resultsDisplay d-flex justify-content-center" id="mov{{i}}" action="/movie-results" method="post">
              <input type="hidden" id="movie_title{{i}}" name="movie_title" value="{{item["title"]}}">
              <input type="hidden" id="id{{i}}" name="id" value="{{item["id"]}}">
              <input type="hidden" id="movieInfo{{i}}" name="movieInfo" value="{{item}}">
              <input type="hidden"  id="type{{i}}" name="type" value={{type}}>
              <div class="wrapper">
                <h4 class="subsubtitle"> {{item["title"]}} </h4>
                <div class="image_div ">
                  <div class="img_wrapper d-flex justify-content-center">
                    <img id="movie_poster{{i}}"src="{{item["poster"]}}">
                 </div>
                </div>
                <div class="d-flex justify-content-center details-btn ">
                  <button type="button" class="markSeen btn btn-outline-success" id ="{{i}}">Mark as seen</button>
                  <button type="submit" class="btn btn-outline-info">Details</button>
                </div>
              </div>

              <!-- <input type="image" name="{{item["title"]}}" value="" src="{{item["poster"]}}" height="300px" width="200px"> -->
          </form>

        {% endfor %}
      </div>
    </div>



       <br><br><br>
<script type="text/javascript" src="scripts/myAcct.js"></script>
  </body>
</html>
