<!--
<html>
  <head>
    <title>Welcome to Memegen</title>
  </head>
  <body>
    <h1>Meme Generator</h1>
      <img height='200px' width='250px' src={{img}}>
    <h2>Welcome to the best Meme Generator out there!</h2>
      <h2>{{line1}}</h2>
      <img height="200px" width="250px" src={{img2}}>
    <h1>{{below}}</h1>

    <h2>
        {% if isOn == True %}
          Oh It's on!
        {% elif isOn == False %}
          Oh I guess it's not on
        {% endif %}
    </h2>

    <button>hello world</button>

    {% for food in myFavs %}
      <br>{{food}}</br>
    {% endfor %}

    {{myDict['name']}}
    {{pokemon.attack}}

    <a href="about">Link To Second Page<a>

  </body>
</html> -->
